@import "../../../global/css/footer.css";
@import "../../../global/css/header.css";

body .conteudo-panel {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    background-color: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .conteudo-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .titulo-pagina h2 {
    color: #fff;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .caixa-form {
    background-color: #1a1a1a;
    width: 700px;
    height: 800px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .div-form {
    width: 100%;
  }
  
  .titulo-form h3 {
    color: #fff;
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
  }

  .titulo-form {
    text-align: center;
    margin-top: -20px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
  }
  
  .form div {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  label {
    color: #fff;
    width: 40%;
    text-align: left;
    font-size: 18px;
  }
  
  input[type="text"],
  input[type="url"],
  select,
  textarea {
    width: 55%;
    padding: 10px;
    background-color: rgba(26, 26, 26, 0.8);
    border: 1px solid #fff;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
  }
  
  textarea {
    resize: vertical;
    height: 150px;
    border-radius: 5px;
  }
  
  input:focus,
  textarea:focus,
  select:focus {
    outline: none;
    border-color: #00bcd4;
    box-shadow: 0 0 5px #00bcd4;
  }
  
  select {
    appearance: none;
    background-color: rgba(26, 26, 26, 0.8);
    color: #fff;
    cursor: pointer;
  }
  
  select option {
    background-color: #1a1a1a;
    color: #fff;
  }
  
  select:focus option {
    background-color: rgba(26, 26, 26, 0.8);
  }
  
  select option:hover {
    background-color: #333;
  }
  
  .butao {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #00bcd4;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    margin-top: 20px;
  }
  
  .butao:hover {
    background-color: #0097a7;
  }
  