.footer {
    background-color: #0d0d0d;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    flex-direction: column;
    list-style: none;
    font-family: "Ubuntu", sans-serif;
    list-style: none;
    width: 100%;
}

.footer a {
    color: #fff;
    text-decoration: none;
    background-color: #0d0d0d;
}

.footer a:hover{
    color: #49827e;
}

.footer p {
    margin-bottom: 10px;
    font-size: 14px;
}

#social-container{
    width: 100%;
    text-align: center;
    background-color: #0d0d0d;
}

.social-icons{
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
    background-color: #0d0d0d;
}

.social-icon {
    font-size: 24px;
    color: #fff;
    margin: 0 15px;
    transition: color 0.3s ease-in-out;
}

.social-icon:hover {
    color: #49827e;
}

.copyrights {
    color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px ;
    font-size: 14px;
    background-color: #0d0d0d;
    
}

.copyrights a:hover {
    color: var(--cor-hover-link);
    transition: color 0.3s ease-in-out;
}
/*^^HEADER E FOOTER^^ */